@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 0;
}

h1 {
  margin: 10px;
}

.box {
  align-items: center;
  background-color: steelblue;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  width: 400px;
}
